:root {
    --dark: #0a0a0a;
    --dark-x: #111111;
    --dark-xx: #222222;
    --light: #ffffff;
    --primary: #ff0079;
    --primary-x: #fe3051;
    --muted: #a1b0bf;
}

body {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 1rem;
    font-weight: 300;
    color: var(--light);
    background-color: var(--dark);
}

a {color: var(--primary);}

a:hover {color: var(--primary); text-decoration: none;}
.text-muted{color: var(--muted) !important;}

.bg-dark{ background-color: var(--dark) !important;}
.bg-dark-x{ background-color: var(--dark-x) !important;}
.bg-primary{ background: linear-gradient(90deg,  var(--primary) 0%, var(--primary-x) 100%);}

.navbar{
    min-height: 5rem;
}

.text-primary{
    background: linear-gradient(90deg,  var(--primary) 0%, var(--primary-x) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn{
    font-weight: 700;
    padding: .8rem 1rem;
    border: 0;
    border-radius: .4rem;
}

.btn-primary{
    background: linear-gradient(90deg,  var(--primary) 0%, var(--primary-x) 100%);
    color: var(--light);
}

.btn-primary:hover{
    background-color: var(--primary-x) !important;
}

.btn-secondary{
    background-color: var(--dark-xx);
}

.btn-secondary:hover{
    background-color: var(--dark-xx);
    opacity: .8;
}

.shadow {
    box-shadow: 0 .5rem .5rem 0 rgba(0, 0, 0, .5) !important;
}

.iphone{
    display: block;
    width: 400px;
}

.bg-image{
    background-image: url("img/bg-image.svg");
    background-size: cover;
    min-height: 768px;
}
.bg-image-x {
    background-image: url("img/bg-image-x.svg");
    background-size: cover;
    min-height: 768px;
}
.bg-image-xx {
    background-image: url("img/.bg-image-xx");
    background-size: cover;
    min-height: 406px;
}

.card {
    border-radius: 1rem;
}

.icon-container {
    width: 50px;
    height: 50px;
}

.rounded-top{
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

.form-control{
    background-color: var(--dark-xx);
    height: unset;
    padding: .8rem 1rem;
    border: 0;
}

.form-control:focus{
    background-color: var(--dark-xx);
    box-shadow: none;
}

@media (max-width: 575.98px) {
    .w-75{
        width: 100% !important;
    }
    .py-5{
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }
    .btn{
        width: 100%;
    }
    .list-inline-item{
        display: block;
        text-align: center;
    }
    footer{
        text-align: center;
    }
    footer .list-inline-item{
        display: inline-block;
    }
    footer .text-right{
        text-align: center !important;
    }
    footer small{
        display: block;
    }
}